<mat-toolbar class="topbar" role="banner">
  <div class="left">
    <button mat-icon-button class="icon" (click)="onToggle()" type="button" aria-label="Abrir menú">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="clock-display">
      <span class="clock-time">{{ currentTime() | date: 'HH:mm:ss' }}</span>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="brand right" routerLink="/home">
    <div class="logo">{{ user()?.name?.charAt(0).toUpperCase() }}</div>
  </div>
</mat-toolbar>
