:host {
  display: block;
  width: 100%;
  height: 100%;
}

.mapa-container {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.mapa {
  width: 100%;
  height: 100%;
  min-height: 300px;
}
